<div class="main container">
  <div class="row">
    {{#each categories}}
      {{#if items.length}}
        <h4 class="category-title">{{ name }}</h4>
        <div class="items-list">
          {{#each items}}
            <a href="{{#if sold }}#{{else}}/items/{{ _id }}{{/if}}" class="card-item four columns{{#if sold }} -sold{{/if}}">
              <div class="card-thumbnail" style="background-image: url('{{ image }}');"></div>
              <div class="card-body">
                <h5>{{ title }}</h5>
                {{#if sold }}
                  &mdash;
                {{else}}
                  {{#if price}}
                    <p class="price">
                      {{ price }} $
                      {{#if originalPrice}}<span class="original-price">{{ originalPrice }} $</span>{{/if}}
                    </p>
                  {{else}}
                    <p class="price -free">À donner</p>
                  {{/if}}
                {{/if}}
              </div>
              {{#if sold }}<div class="sold-banner">Vendu</div>{{/if}}
            </a>
          {{/each}}
      </div>
      {{/if}}
    {{/each}}

    {{> buying-info}}
  </div>
</div>